body { 
	background-color:#d30a0a; 
}
h2, h3, h4 { color: #d30a0a; }

p { margin:0px; padding:0px; text-align:left; }
p.data { float:right; display:block; font-size:0.9em; margin-top:0.2em; }
p.titol { font-weight:bold; }
div.entrada { margin-bottom:10px; }
